@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.cs");
.wipimagecontainer {
  background-image: url("/public/images/benjamin-suter-unsplash.jpg");
  width: auto;
  padding: 5em;
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  transition: 0.1ms;
  filter: blur(10px);
}

#content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden;
  border-radius: 5px;
}

.wiptitle {
  font-family: Hack, monospace;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0vh;
  padding: 0vh;
}

.typewriter-effect {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 3s steps(25, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid #008026;
  box-sizing: border-box;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 7em;
  }
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #01581b;
  }
}
.imagecontainer {
  background-image: url("/public/images/benjamin-suter-unsplash.jpg");
  width: auto;
  padding: 5em;
  height: auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  transition: 0.1ms;
}

.installtitle {
  color: black;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.container {
  padding: 5em;
  height: auto;
  transition: 0.1ms;
}

#titlesection {
  padding: 5vw;
  height: 75vh;
  margin-top: 10vh;
}

.title {
  display: inline-block;
  font-size: 6vh;
  color: white;
  font-family: Hack, monospace;
}

.description {
  color: white;
  font-size: 3vh;
}

.removelinkstyling {
  color: white;
  text-decoration: none;
}

.removelinkstyling:hover {
  transition: 0.1s;
  color: #25c225;
}

.attribution {
  color: white;
  float: left;
}

#githublogo {
  width: 20px;
  vertical-align: middle;
}

#ambiencelogo {
  width: 20px;
  vertical-align: middle;
  float: left;
}

#discordlogo {
  width: 42px;
  vertical-align: middle;
}

nav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  width: 100%;
  clip: rect(auto, auto, auto, auto);
}
nav ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
nav ul li {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  padding: 2em;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: rgba(17, 17, 17, 0.5);
  transition: 1s;
}

.white {
  color: white;
}

.black {
  color: black;
}

/*# sourceMappingURL=maincss.css.map */
