@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.cs");
.black {
  color: black;
}

.white {
  color: white;
}

.wipimagecontainer {
  background-image: url("../public/images/benjamin-suter-unsplash.jpg");
  width: auto;
  padding: 5em;
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  transition: 0.1ms;
  filter: blur(10px);
}

#content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden;
  border-radius: 5px;
}

.wiptitle {
  font-family: Hack, monospace;
}

nav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  width: 100%;
  clip: rect(auto, auto, auto, auto);
}
nav ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
nav ul li {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  padding: 2em;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: rgba(17, 17, 17, 0.5);
  transition: 1s;
}

#githublogo {
  width: 20px;
  vertical-align: middle;
}

#ambiencelogo {
  width: 30px;
  vertical-align: middle;
}

#discordlogo {
  width: 42px;
  vertical-align: middle;
}

#navbar {
  overflow: hidden;
  background-color: #00810b;
  position: absolute;
  top: 0;
  width: 100%;
  clip: rect(auto, auto, auto, auto);
}
#navbar ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
#navbar ul li {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  padding: 2em;
}
#navbar ul li a {
  color: black;
  text-decoration: none;
  padding: 14px;
  border-radius: 5px;
}
#navbar ul li a:hover {
  background-color: rgba(17, 17, 17, 0.5);
  transition: 1s;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0vh;
  padding: 0vh;
}

.largegap {
  padding-bottom: 1em;
}

.gapabove {
  padding-top: 1em;
}

.container {
  padding: 5em;
  height: auto;
  transition: 0.1ms;
}

.imagecontainer {
  background-image: url("/public/images/benjamin-suter-unsplash.jpg");
  width: auto;
  padding: 5em;
  height: auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  transition: 0.1ms;
}

#titlesection {
  padding: 5vw;
  height: 75vh;
  margin-top: 10vh;
}

#installsection {
  padding: 40px;
}

#descriptionsection {
  padding: 40px;
  padding-top: 0px;
}
#descriptionsection ul {
  list-style-type: none;
  padding: 0px;
}

.title {
  display: inline-block;
  font-size: 6vh;
  font-family: Hack, monospace;
}

.secondarytitle {
  font-size: 2vh;
  font-family: Hack, monospace;
}

.description {
  font-size: 3vh;
}

.removelinkstyling {
  color: white;
  text-decoration: none;
}

.removelinkstyling:hover {
  transition: 0.1s;
  color: #25c225;
}

.attribution {
  color: white;
  float: left;
}

.install {
  display: inline-block;
  background-color: lightgray;
}

#buttonsection {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.downloadbutton {
  padding: 1em;
  border-radius: 5px;
  transition: 1s;
  background-color: green;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.downloadbutton:hover {
  background-color: #034103;
}

.startedbutton {
  padding: 1em;
  border-radius: 5px;
  transition: 1s;
  background-color: rgba(0, 128, 0, 0);
  display: inline-block;
  border: solid #686868 3px;
  text-decoration: none;
}

.startedbutton:hover {
  background-color: #686868;
  color: white;
  cursor: pointer;
}

/*# sourceMappingURL=maincss.css.map */
