// Use `sass --watch ./src/main.scss ./public/compiled/maincss.css` to compile scss to css.

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.cs');

* {
    font-family: 'Roboto', sans-serif;
}

html{
    min-height: 100%;
    overflow: hidden;
}

body{
    margin: 0vh;
    padding: 0vh;
}

// Typewriter effect

.typewriter-effect{
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 3s steps(25, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid rgb(0, 128, 38);
    box-sizing: border-box;
}

@keyframes typing {
    0% {
        width: 0;
      }
    100% {
        width: 7em;
      }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(1, 88, 27); 
    }
}

// Styling

#container{
    background-image: url("/public/images/benjamin-suter-unsplash.jpg");

    width: auto;
    padding: 5em;
  
    height: 90VH;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    transition: 0.1ms;
}

#titlesection{
    padding: 5vw;
    height: 75vh;
    margin-top: 10vh;
    
}

.title{
    display: inline-block;
    font-size: 6vh;

    color: white;

    font-family: Hack, monospace;
}

.description{
    color: white;

    font-size: 3vh;
}

.removelinkstyling{
    color: white;
    text-decoration: none;
}
.removelinkstyling:hover{
    transition: 0.1s;
    color: rgb(37, 194, 37);
}
.attribution{
    color: white;
    float: left;
}

// Navigation Bar

nav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    width: 100%;
    ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 15px;
      li {
        display: inline;
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        padding: 2em;
        a {
          color: #f2f2f2;
          text-decoration: none;
          padding: 14px;
          border-radius: 5px;
          &:hover {
            background-color: rgba(17, 17, 17, 0.5);
            transition: 1s;
          }
        }
      }
    }
  }

// .socials{
//     display: flex;
//     flex-direction: row;
//     float: right;
// }

// .discordlogo{
//     width: 5vh;
// }
